body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background-color: #b9151c;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* bg-[#6159CB] */
@layer base {
  button {
    @apply rounded border-0 bg-[red] hover:bg-[#fff] hover:text-[red] p-1 px-3 duration-300;
  }
  .title {
    @apply text-[26px] sm:text-[30px];
  }
}

@layer components {
  .container {
    @apply px-4 md:px-8 !mx-auto;
  }
}

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      width: 5px;
    }

    .no-scrollbar::-webkit-scrollbar-thumb {
      background-color: #36404a;
    }

    .no-scrollbar::-webkit-scrollbar-track {
      background-color: #36404a;
    }
  }
}

.bouncing-text {
  text-align: center;
  /* font-size: 70px; */
  font-weight: 900;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

.bouncing-text > span {
  color: #4cc9f0;
  text-shadow: 0 3px #4361ee, 0 5px #4361ee, 0 7px #4361ee;
}

.a {
  animation: bounce 1s ease infinite;
  -webkit-animation: bounce 1s ease infinite;
}

.b {
  animation: bounce 1s ease infinite 0.3s;
  -webkit-animation: bounce 1s ease infinite 0.3s;
}

.c {
  animation: bounce 1s ease infinite 0.6s;
  -webkit-animation: bounce 1s ease infinite 0.6s;
}

.d {
  animation: bounce 1s ease infinite 0.9s;
  -webkit-animation: bounce 1s ease infinite 0.9s;
}

.e {
  animation: bounce 1s ease infinite 1.2s;
  -webkit-animation: bounce 1s ease infinite 1.2s;
}

.f {
  animation: bounce 1s ease infinite 1.5s;
  -webkit-animation: bounce 1s ease infinite 1.5s;
}

.g {
  animation: bounce 1s ease infinite 1.8s;
  -webkit-animation: bounce 1s ease infinite 1.8s;
}

.h {
  animation: bounce 1s ease infinite 2.1s;
  -webkit-animation: bounce 1s ease infinite 2.1s;
}

.i {
  animation: bounce 1s ease infinite 2.4s;
  -webkit-animation: bounce 1s ease infinite 2.4s;
}

.j {
  animation: bounce 1s ease infinite 2.7s;
  -webkit-animation: bounce 1s ease infinite 2.7s;
}
.k {
  animation: bounce 1s ease infinite 3s;
  -webkit-animation: bounce 1s ease infinite 3s;
}

.l {
  animation: bounce 1s ease infinite 3.3s;
  -webkit-animation: bounce 1s ease infinite 3.3s;
}

.m {
  animation: bounce 1s ease infinite 3.6s;
  -webkit-animation: bounce 1s ease infinite 3.6s;
}

.n {
  animation: bounce 1s ease infinite 3.9s;
  -webkit-animation: bounce 1s ease infinite 3.9s;
}

.o {
  animation: bounce 1s ease infinite 4.2s;
  -webkit-animation: bounce 1s ease infinite 4.2s;
}
.p {
  animation: bounce 1s ease infinite 4.5s;
  -webkit-animation: bounce 1s ease infinite 4.5s;
}

.q {
  animation: bounce 1s ease infinite 4.8s;
  -webkit-animation: bounce 1s ease infinite 4.8s;
}

.r {
  animation: bounce 1s ease infinite 5.1s;
  -webkit-animation: bounce 1s ease infinite 5.1s;
}

/* @keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-55px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  58% {
    transform: scale(1, 1) translateY(-7px);
  }
  65% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-55px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  58% {
    transform: scale(1, 1) translateY(-7px);
  }
  65% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
} */
